[Unit]
Description=MintKit Launcher
After=multi-user.target

[Service]
Type=simple
User=mintkit
WorkingDirectory=/home/mintkit
ExecStart=/usr/bin/python3 /home/mintkit/launcher/mintos.py
Restart=on-failure
RestartSec=3
Environment=SDL_VIDEODRIVER=fbcon
Environment=SDL_FBDEV=/dev/fb0
Environment=PYTHONPATH=/home/mintkit
StandardInput=tty
TTYPath=/dev/tty1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target