[Unit]
Description=MintKit OS Launcher
After=systemd-user-sessions.service sound.target
Wants=sound.target

[Service]
User=mintkit
Group=mintkit
WorkingDirectory=/home/mintkit
EnvironmentFile=/etc/environment
Environment="SDL_VIDEODRIVER=kmsdrm"
Environment="SDL_AUDIODRIVER=alsa"
Environment="HOME=/home/mintkit"
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/python3 /home/mintkit/mintos.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
