[Unit]
Description=MintKit Launcher
After=multi-user.target

[Service]
Type=simple
User=mintkit
WorkingDirectory=/home/mintkit
ExecStart=/usr/bin/python3 /home/mintkit/launcher/mintos.py
Restart=on-failure
RestartSec=3
Environment=SDL_AUDIODRIVER=dummy
Environment=HOME=/home/mintkit
Environment=MINTKIT_DATA=/home/mintkit/.mintkit
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=PYTHONPATH=/home/mintkit
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target