# MintKit build config
BOARD=rk3566
IMAGE_SIZE_MB=3800
KERNEL_VERSION=6.1
UBOOT_VERSION=2023.10
CROSS_COMPILE=aarch64-linux-gnu-
ARCH=arm64
ROOTFS_HOSTNAME=pocketmint
ROOTFS_USER=mintkit
ROOTFS_PASSWORD=mintkit
